*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
app/build/

# Firebase Cloud Functions
functions/node_modules/
.firebase/
firebase-debug.log
firebase-debug.*.log

